Fitness.sln 
Fitness.v*.suo 
/packages/ 
/TestResults/ 
/Fitness/Content/themes/ 
/Fitness/bin/ 
/Fitness/Images/ 
/Fitness/obj/ 
/Fitness/Scripts/ 
/Fitness/Fitness.csproj.user 
/Fitness/Fitness.csproj 
/Fitness/packages.config 
/Fitness/Web.config 
/Fitness/Web.Debug.config 
/Fitness/Web.Release.config 
/Fitness/favicon.ico 
/Fitness.Tests/obj/ 
/Fitness.Tests/bin/ 
/Fitness.Tests/App.config