@model Fitness.Models.UserProfile

@{
    ViewBag.Title = "Изменить группу клиенту";
}

@using (Html.BeginForm())
{    
    <input type="hidden" name="idClient" value="@Model.UserId" />

    <select name="idGroup">
        @foreach (Fitness.Models.group group in ViewBag.groups)
        {
            <option value="@group.idGroup">@group.nameGroup</option>
        }
    </select>

    <p>
        <input type="submit" value="Сохранить" class="btn btn-success" />
    </p>        
}

<hr />
<div>
    <a href="@Url.Action("Index", "Trainer")" title="Вернуться назад"><i class="fa fa-arrow-left"></i> Вернуться назад</a>
</div>
