@model Fitness.Models.group

@{
    ViewBag.Title = "Удалить группу";
}
<!DOCTYPE html>

<html>
<head>
    <title>Удалить группу</title>
</head>
<body>
    <h3>Вы уверены, что хотите удалить группу?</h3>
    <fieldset>
        <div class="display-label txt-red">
            @Html.DisplayNameFor(model => model.nameGroup)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.nameGroup)
        </div>
    </fieldset>

    @using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </p>
    }

    <hr />
    <div>
        @*@Html.ActionLink("Вернуться назад", "Index")*@
        <a href="@Url.Action("Index", "Trainer")" title="Вернуться назад"><i class="fa fa-arrow-left"></i> Вернуться назад</a>
    </div>
</body>
</html>
