@model Fitness.Models.subscription

@{
    ViewBag.Title = "Посмотреть статус абонемента";
}

<h2>Посмотреть статус абонемента</h2>
<div>
    <p>@Model.status</p>
</div>

<hr />
<div>
    @*@Html.ActionLink("Вернуться назад", "Index")*@
        <a href="@Url.Action("Index", "Client")" title="Вернуться назад"><i class="fa fa-arrow-left"></i> Вернуться назад</a>
</div>
