@model Fitness.Models.subscription

@{
    ViewBag.Title = "ViewStatusSubscription";
}

<h2>ViewStatusSubscription</h2>
<div>
    <p>@Model.status</p>
</div>

<div>
    @Html.ActionLink("Back To Main Index", "Index")
</div>
