@model Fitness.Models.UserProfile

@{
    ViewBag.Title = "Редактирование";
}

<!DOCTYPE html>

<html>
<head>
    <title>Изменить роль пользователю</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    
        <fieldset>
             @Html.HiddenFor(model => model.UserId)
               
            <div class="editor-label">
                <p>Выберите роль для пользователя</p>
            </div>
            <div class="editor-field">
                <select name="role">
                    @foreach (String role in ViewBag.roles)
                    {
                        <option>@role</option>
                    }
                </select>
            </div>  
             
            <p>
                <input type="submit" value="Сохранить" class="btn btn-success"/>
            </p>
        </fieldset>
    }
    <hr />
    <div>
        @*@Html.ActionLink("Вернуться назад", "Index")*@
        <a href="@Url.Action("Index", "Admin")" title="Вернуться назад"><i class="fa fa-arrow-left"></i> Вернуться назад</a>
    </div>
</body>
</html>
